<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>邮件发送</title>
	<link href="{$Think.const.URL}css/style.css" type="text/css" rel="stylesheet" />
	<script type="text/javascript" src="{$Think.const.URL}js/send.js"></script>

</head>
<body>
	<div class="mainbox">
		<div class="send_email">
			<p>邮箱通知</p>
		</div>
		<div class="sendEmail">
			<form id="fe">
				<input type="hidden" name="table" value="{$Think.get.table}">
				<input type="hidden" name="app" value="{$Think.get.app}">
				<input type="hidden" name="flag" value="{$Think.get.flag}">
				<p><span>收件人：</span><input type="text" name="to" value="{$Think.get.email}" /></p>
				<p><span>主题：</span><input type="text" name="title"/></p>
				<p><span style="float: left;">邮箱内容：</span><textarea name="content" cols="50" rows="6"></textarea></p>
				<input type="button" value="发送" class="a_btn" onClick="send('__CONTROLLER__/e_mail/f/1','fe');">
			</form>
		</div>
	</div>
</body>
</html>