<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>vSphere审核确认</title>
	<link href="{$Think.const.URL}css/style.css" type="text/css" rel="stylesheet" />
	<script src="{$Think.const.URL}js/send.js"></script>
	<script type="text/javascript">
		function eMail(){
		  window.open("e_mail","_self","toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width=470, height=400");
		}
	</script>
</head>
<body>
	<div class="mainbox">
		<div class="send_check_del">
			<p>销毁确认</p>
		</div>
		<div class="sendCheckDel">
			<form >
				<p>请管理员确认已经手动在OpenStack云服务器中心销毁相应服务器再执行此操作。</p>
				<input type="button" value="确认销毁" class="a_btn" onClick="send('__CONTROLLER__/vs_del/id/{$Think.get.id}/flag/1')">
				<input type="button" value="邮件通知" class="a_btn" onClick="eMail()">
			</form>
		</div>
	</div>
</body>
</html>