<!DOCTYPE html>
<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>AIB网络工作室 - 云平台 - 邮件系统</title>
    <link rel="stylesheet" href="{$Think.const.URL}css/platform-enter.css">
    <link rel="stylesheet" href="{$Think.const.URL}css/bootstrap.min.css">
    <link rel="stylesheet" href="{$Think.const.URL}public.css">
    <script src="{$Think.const.URL}js/jquery-3.2.1.min.js"></script>
    <script src="{$Think.const.URL}js/bootstrap.min.js"></script>
    <script src="{$Think.const.URL}js/public.js"></script>
    <link rel="stylesheet" href="{$Think.const.URL}css/font-awesome.min.css">
    <style type="text/css">
        #siderbar p a:nth-child(1){
            color: white;
            font-size: 1.5rem;
            text-decoration: none;
            font-weight: bold;
            background: #3ac984;
            padding: 10px 60px;
            border-radius: 40px;
            margin-top: 2vw;
        }
        #siderbar p a:hover{
            text-decoration: underline;
        }
    </style>
</head>
<body style="color: black; overflow-x: hidden;">

    <div id="wrapper" style="height: 90vh;">
        <div id="header" style=" height:80px;">
            <h2 style="font-size: 25px;">AIB网络工作室 - 云平台 - <b>邮件系统</b></h2>
            <a href="" title="一个开源免费的邮件系统">一个开源免费的邮件系统</a>
        </div>
        <div id="main">
            <div id="content">
                <h2 style="font-size: 20px; font-weight: normal; padding:0; height: 49px;" class="file-list"><i class="icon-file-alt icon-large" style="margin:0 10px; color: black;"></i>关于Mail的知识</h2>
                <table>
                    <thead align="left">
                    <tr>
                        <td><b>SMTP</b></td>
                    </tr>
					<tr>
						<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SMTP全称是Simple Mail Transfer Protocol，直译过来就是简单邮件传输协议， 由RFC5321定义。</td>
					</tr>
					<tr>
						<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;主要的工作就是把邮件信息从发件人的邮件服务器中传送到接收人的邮件服务器中，偶尔我们使用MUA来发送邮件的话，
也承载传输用户邮件到发件服务器的功能，因而也称作推协议，顺带提一下，SMTP协议的出现是比HTTP还早的，最早
在1982年中发布第一版的RFC。
					<tr>
						<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;因而因为提出的年代久远，所以在当时有许多问题都考虑不全面并且也有这许多的限制，例如SMTP要求信息内容需要是
7位的ASCII来承载，因而我们在发送以及接受的时候，都需要将其编码解码。</td>
					</tr>
					<tr>
						<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;另外，SMTP还存在一个问题就是没有对发送方进行一个身份验证，虽然在早期的互联网环境没有很大问题，但是在垃圾
邮件满天飞的今天，这却是一个明显的短板。因而衍生出了SPF， DKIM， DMARC等一系列用来验证发件人身份的方法。</td>
					<tr>
                        <td><b>POP3</b></td>
                    </tr>
					<tr>
						<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;POP3，Post Office Protocol Version 3，直译就是邮局协议第三版，由RFC1939进行定义。这个协议的
主要服务于用户管理邮件服务器上面的电子邮件。</td>
					</tr>
					<tr>
						<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;具体过程是:当外来邮件发送到收件人的邮件服务器
上时，收件人可以使用邮件客户端连接邮件服务器，把未阅读的邮件服务器以及部分信息拉取回本地进行
处理。</td>
					</tr>
					<tr>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;在拉取的过程中，我们可以选择拉取完删除以及拉取完不删除两种方式，不过现在默认一般都是拉取
完不删除，方便我们在其他的地方也能对邮件进行阅读以及管理。</td>
                    </tr>
					<tr>
                        <td><b>IMAP</b></td>
                    </tr>
					<tr>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;IMAP，Internet Message Access Protocol， 直译过来就是网络信息访问协议，可能和现在主流
的翻译不太一致，不过能理解其意思就好。相对于pop3协议所有邮件的管理都需要下载下来进而管
理，IMAP提供了用户远程访问邮件服务器的途径，因而通过IMAP，用户可以直接管理邮件服务器上的邮件。</td>
                    </tr>
					<tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;更详细可参考简书：<a href="http://www.jianshu.com/p/610d9bf0ae8b">从零开始邮件服务器搭建</a></td></tr>
                    </thead>
                </table>
				<h2 style="font-size: 20px; font-weight: normal; padding:0; height: 49px;" class="file-list"><i class="icon-bell icon-large" style="margin:0 10px; color: black;"></i>电子邮件架构</h2>
				<table>
                    <thead align="left">
                    <tr>
						<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>PTR</b>：反向域名解析，可以通过发件人的IP地址反向得知域名，也是一种用以判断发件人是tr否正常的方式。</td>
					</tr>
					<tr>
						<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>MUA</b>：Mail User Agent。用户邮件代理，用户通过MUA接收发送邮件。例如Outlook， formail等。</td>
					</tr>
					<tr>
						<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>MTA</b>：Mail Transfer Protocol。邮件传输代理，是SMTP的一种实现。常用的MTA有sendmail，Postfix。本例中使用Postfix。MTA仅仅负责邮件的传输，MDA负责把接收到的邮件保存在硬盘中。</td>
					</tr>
					<tr>
						<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>MDA</b>：Mail Deliver Agent，邮件分发代理。负责将接收到的邮件保存在邮件服务器上。sendmail以及Postfix默认使用的MDA是procmail。</td>
					</tr>
					<tr>
						<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>MRA</b>；Mail Receive Agent，邮件接收代理，用来实现IMAP，POP3协议，负责与MUA交互，将服务器上的邮件通过IMAP以及POP3传输给客户端。本例中使用的MRA是Dovecot。</td>
					</tr>
					<tr>
						<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>LMTP</b>:Local Mail Transfer Protocol。本地邮件传输协议，是SMTP协议的扩展。</td>
					</tr>
					<tr><td><img src="{$Think.const.URL}img/mail-jiagou.png" alt="电子邮件架构" width="660" height="500"/></td></tr>
                    </thead>
                </table>
            </div>
            <div id="siderbar">
				<h4 style="font-weight: normal;" class="mirror-help"><i class="icon-lightbulb icon-large" style="margin:0 10px 0 0; color: black;"></i>温馨提示</h4>
				<p>
                目前AIB网络工作室邮件系统直接采用EwoMail应用，用于对云服务器、SVN版本控制库申请的邮件反馈通告。<br />
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;EwoMail是一款基于Linux的开源邮件服务器软件，集成了众多优秀稳定的组件，是一个快速部署、简单高效、多语言、安全稳定的邮件解决方案，帮助你提升运维效率，降低 IT 成本，兼容主流的邮件客户端，同时支持电脑和手机邮件客户端。详细见官网：<a href="http://www.fewomail.com/">EwoMail</a>
				</p>
				<h4 style="font-weight: normal;"><i class="icon-link icon-large" style="margin:0 10px 0 30px; color: black;"></i>功能切换</h4>
				<p><a href="" target="_black">用户登录</a></p>
				<p><a href="" target="_black">管理后台</a></p>
				<h4 style="font-weight: normal;"><i class="icon-link icon-large" style="margin:0 10px 0 30px; color: black;"></i>友情链接</h4>
				<ul>
					<li><a href="http://www.miecu.net" target="_black">觅库</a></li>
					<li><a href="http://www.gdaib.edu.cn" target="_black">GDAIB</a></li>
				</ul>
			</div>
		</div>
	</div>

	<div style="height:70px;clear:both;">
        
    </div>

</body>
</html>
<script>
$(function(){
    document.children[0].children[1].firstChild.parentNode.removeChild(document.children[0].children[1].firstChild);
})
</script>